<html>
<head>
	<title>City Vision</title>
	<script type="text/javascript" src="./static/lib/d3.js"></script>
	<script type="text/javascript" src="./static/lib/leaflet.js"></script>
	<link rel="stylesheet" href="./static/lib/leaflet.css"/>
	<link rel="stylesheet" href="./static/style.css" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

</head>
<body>

	<div id="map"></div>

	<div class="tooltip">
		<p class="tooltip-text" id="text">This is the text</p>
		<p class="tooltip-text" id="latlng">This is the latlng</p>
	</div>

	<div class="menu">
	    <p><h4>City Vision</h4>
	    	<style>
	    	h4 {
	    		color: black;
	    		font-size: Arial;
	    		font-weight: bold;
	    		font-style: normal;
	    		font-size: 200%;
	    	}
	    	</style>
	    </p>
	    <form>
<!-- 	        <p><input type="checkbox" id="heatmap">Heat Map</p>
	        <p><input type="button" value="Update Data" onclick="updateData()"></p> -->
			<p>INSTRUCTIONS</p>
			<p>UCI Project Sponsorered by Mckinsey </p>
			<p>The search starts from Houjie in Dongguan, you could also start from other places, by simply moving to other places and click update.</p>
			<p><input type="button" value="Update" onclick="updateData()"></P>
	        <p>Status: <em id="message"></em></p>
			<p>From:<input type="date" id="date1"><input type="time" id="time1"></p>
			<p>To:<input type="date" id="date2"><input type="time" id="time2"></p>
	        <style>
	    	br {
	    		position:fixed;
	    		top:500;
	    		color: black;
	    		font-family: Arial;
	    		font-weight: bold;
	    		font-size: 100%;
	    	}
	    	p {
	    		color: #58585B;
	    		font-size: Arial;
	    		font-weight: bold;
	    		font-size: 100%;
	    	}
	    	</style>
	    </form>
	</div>

	<script type="text/javascript" src="./static/script.js"></script>

</body>
</html>
